.review-item{
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}
.review-item img{
    width: 91px;
}
.review-details-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.review-item-details p{
    margin: 0;
}
.delete-container{
    display: flex;
    align-items: center;
}
.delete-Button{
    background-color: rgba(235,87,87,0.3);
    border:0;
    height: 55px;
    width: 55px;
    border-radius: 50%;

}
.delete-Icon{
    font-size: 27px;
    color: rgba(235,87,87,1);
}